<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>7.0</string>
	<key>CFBundleIdentifier</key>
	<string>com.eweware.heardios</string>
	<key>CFBundleVersion</key>
	<string>1.0.60</string>
	<key>UIMainStoryboardFile</key>
	<string>Blahgua_iPhone</string>
	<key>UIStatusBarTintParameters</key>
	<dict>
		<key>UINavigationBar</key>
		<dict>
			<key>Style</key>
			<string>UIBarStyleDefault</string>
			<key>Translucent</key>
			<false/>
			<key>BackgroundImage</key>
			<string></string>
		</dict>
	</dict>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>CFBundleDisplayName</key>
	<string>Heard</string>
	<key>UIAppFonts</key>
	<array>
		<string>GothamRounded-Bold.otf</string>
		<string>GothamRounded-BoldItalic.otf</string>
		<string>GothamRounded-Book.otf</string>
		<string>GothamRounded-BookItalic.otf</string>
		<string>GothamRounded-Light.otf</string>
		<string>GothamRounded-LightItalic.otf</string>
		<string>GothamRounded-Medium.otf</string>
		<string>GothamRounded-MediumItalic.otf</string>
		<string>Merriweather.otf</string>
		<string>Merriweather-Bold.otf</string>
		<string>Merriweather-BoldItalic.otf</string>
		<string>Merriweather-Heavy.otf</string>
		<string>Merriweather-HeavyItalic.otf</string>
		<string>Merriweather-Italic.otf</string>
		<string>Merriweather-Light.otf</string>
		<string>Merriweather-LightItalic.otf</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.0.60</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Icon</string>
		<string>Icon@2x</string>
		<string>Icon-60@2x</string>
		<string>Icon-72</string>
		<string>Icon-72@2x</string>
		<string>Icon-76</string>
		<string>Icon-76@2x</string>
		<string>Icon-Small</string>
		<string>Icon-Small@2x</string>
		<string>Icon-Small-50</string>
		<string>Icon-Small-50@2x</string>
		<string>Icon-Small-40</string>
		<string>Icon-Small-40@2x</string>
	</array>
</dict>
</plist>
